img.fiuLogo{
    transition: all 1s;
    margin-top: 30px;
    margin-left: 25px;   
}
img.fiuLogo:hover{
    transform: scale(1.5);
}
img.mdcLogo{
    transition: all 1s;
    margin-top: 30px;
    margin-left: 0px;   
}
img.mdcLogo:hover{
    transform: scale(1.5);
}
div.toppage{
    
    flex-direction: row;
}

div.educationTop{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
p.fiuContent{
    margin-left: 60px;
}
div.educationBottom{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
img.neo{
    position: absolute;
    right: 100px;
    bottom: 250px;
    transition: all 2s;
}
img.neo:hover{
    transform: rotate(90deg);
}


